<% include ../partials/header %>
<% include ../partials/nav %>

<header class="jumbotron text-center">
	<h1>Here are the available Campgrounds</h1>
	<p>
		If you did not found the campground you are looking for, go ahead.
	</p>
		<a href="/campgrounds/new" class="btn btn-primary button">ADD NEW CAMPGROUND</a>
	
</header>
	<div class="container">
		<div class="row text-center" style="display:flex ;flex-wrap:wrap;">
			<% camps.forEach(function(camp){ %>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="img-thumbnail">
						<img src="<%= camp.image %>">
						<div class="caption">
							<h6>
								<%= camp.location %>
							</h6>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
	

<% include ../partials/footer %>
