<% include ../partials/header %>
<% include ../partials/nav %>

<header class="jumbotron text-center">
	<h1 class="align-middle display-4">Welcome to Yelp-Camp</h1>
	<p class="lead">Places around the country added by the people of the community for the people of the community.</p>
	<p>
		If you have a travel experience, <a href="/campgrounds/new"> ADD NEW CAMPGROUND <i class="fas fa-plus"></i></a>
	</p>
</header>

<hr>
	<ul>
		<div class="row text-center" style="display:flex ;flex-wrap:wrap;">
			<% camps.forEach(function(camp){ %>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="/campgrounds/<%=camp._id%>">
						<div class="img-thumbnail">
							<img src="<%= camp.image %>" class="thumbnail rounded">
							<div class="caption">
								<h6>
									<%= camp.location %>
								</h6>
							</div>
						</div>
					</a>
				</div>
			<% }); %>
		</div>
	</ul>

<% include ../partials/footer %>
