body{
	/*background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);*/
}

img.show{
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#desc{
	margin-top: 20px;
	/*border:1px solid grey;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
}
 #desc p{
 	clear:both;
 }

#comments{
	/*border:0.5px solid grey;		*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}
#addreview{
	float: right;
	display: inline-block;
	/*margin-bottom: 10px;*/
}

#review_word{
	width: auto;
	margin-right: 0;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}

.img-thumbnail{
	margin-bottom:10px;
}

img.thumbnail{
	width: 100%;
}

.list-group{
	margin-bottom: 10px;
}
.space{
	height:20px;
}

/* delete the campground or comment form */
.delete-form{
	display: inline;
}

/*Typography*/
h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 96;
	letter-spacing: -1.5;
}

h5{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24;
	letter-spacing: 0;
}

h6{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 20;
	letter-spacing: 0.15;
}

.button{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;	
	font-size: 14;
	letter-spacing: 1.25;
}

.body2{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14;
	letter-spacing: 0.25;
}

.body3{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 10;
	letter-spacing: 0.25;
}

.subtitle1{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16;
	letter-spacing: 0.15;
}

.subtitle2{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14;
	letter-spacing: 0.1;
}

.caption{
	font-family: 'Roboto', sans-serif;
	font-weight: 400; 	
	font-size: 12;
	letter-spacing: 0.4;
}